---
BasedOnStyle: Google


---
Language: Cpp
DisableFormat: false


# Basic settings
ColumnLimit:     100
UseTab: Never
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
Standard: Latest
Cpp11BracedListStyle: true


# Breaking lines
AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: false


# Packing/Reflow
BinPackArguments: true
BinPackParameters: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ReflowComments: true


# Indent
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: false
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWrappedFunctionNames: false
#IndentCaseBlocks: false
#IndentExternBlock: NoIndent 


# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: None


# Emptylines
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 2


# Includes/Using
SortIncludes: true
IncludeBlocks: Regroup
SortUsingDeclarations: false


# Spaces
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
#SpaceAroundPointerQualifiers: Before
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: false
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInContainerLiterals: false
#BitFieldColonSpacing: None


# Short
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
#AllowShortBlocksOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
#AllowShortEnumsOnASingleLine: true


# Algienment
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
#AlignConsecutiveBitFields: false
AlignConsecutiveMacros: false
#AlignOperands: AlignAfterOperator
AlignOperands: false
AlignTrailingComments: true
PointerAlignment: Left
DerivePointerAlignment: false

